<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sub.potenfi.mapper.ReportMapper">
<select id="fetchMonthlyReport" resultMap="ReportDTO">
    SELECT 
        u.user_id AS userId,
        us.billing_month AS billingMonth,
        us.actual_cost AS actualCost,
        us.platform_id AS platformId,
        u.budget AS budget
    FROM 
        user_subscription us
    JOIN 
        user u ON us.user_id = u.user_id
    WHERE 
        us.user_id = #{userId}
</select>

<resultMap id="ReportDTO" type="com.sub.potenfi.dto.ReportDTO">
    <result column="userId" property="userId" />
    <result column="billingMonth" property="billingMonth" />
    <result column="actualCost" property="actualCost" />
    <result column="platformId" property="platformId" />
    <result column="budget" property="budget" />
</resultMap>

</mapper>
