<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sub.potenfi.dao.UserDao">
    <insert id="registerUser" parameterType="com.sub.potenfi.dto.UserDto">
        INSERT INTO "user" (user_id, user_name, email, user_cd, budget, audit_id, audit_dtm)
        VALUES (#{user_id}, #{user_name}, #{email}, #{user_cd}, #{budget}, #{audit_id}, #{audit_dtm})
    </insert>

    <update id="updateUser" parameterType="com.sub.potenfi.dto.UserDto">
        UPDATE "user"
        SET user_name = #{user_name},
            email = #{email},
            user_cd = #{user_cd},
            budget = #{budget},
            audit_id = #{audit_id},
            audit_dtm = #{audit_dtm}
        WHERE user_id = #{user_id}
    </update>

    <select id="getUserById" parameterType="String" resultType="com.sub.potenfi.dto.UserDto">
        SELECT * FROM "user" WHERE user_id = #{user_id}
    </select>

    <delete id="deleteUser" parameterType="String">
        DELETE FROM "user" WHERE user_id = #{user_id}
    </delete>
</mapper>
