<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sub.potenfi.mapper.UserSubscriptionMapper">


    <!-- INSERT User Subscription -->
    <insert id="insertUserSubscription" parameterType="com.sub.potenfi.dto.UserSubscriptionInfoDTO">
        INSERT INTO user_subscription (
            user_id, platform_id, plan_id, is_group, is_yearly_pay, billing_month, billing_day, actual_cost, active_users, platform_type
        ) VALUES (
            #{userId}, #{platformId}, #{planId}, #{isGroup}, #{isYearlyPay}, #{billingMonth}, #{billingDay}, #{actualCost}, #{activeUsers}, #{platformType}
        )
    </insert>

    <!-- UPDATE Platform ID -->
    <update id="updatePlatform" parameterType="map">
        UPDATE user_subscription
        SET platform_id = #{platformId}
        WHERE user_id = #{userId} AND platform_id = #{currentPlatformId};
    </update>

    <!-- UPDATE Plan ID -->
    <update id="updatePlan" parameterType="map">
        UPDATE user_subscription
        SET plan_id = #{planId}
        WHERE user_id = #{userId} AND platform_id = #{platformId};
    </update>

    <!-- UPDATE Billing Date -->
    <update id="updateBillingDate" parameterType="map">
        UPDATE user_subscription
        SET billing_month = #{billingMonth}, billing_day = #{billingDay}
        WHERE user_id = #{userId} AND platform_id = #{platformId};
    </update>

    <!-- UPDATE Additional Fields -->
    <update id="updateAdditionalFields" parameterType="map">
        UPDATE user_subscription
        SET is_group = #{isGroup}, 
            is_yearly_pay = #{isYearlyPay}, 
            actual_cost = #{actualCost}, 
            active_users = #{activeUsers}
        WHERE user_id = #{userId} AND platform_id = #{platformId};
    </update>
    
</mapper>
